<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>

<body>
    <h1>Edit Product</h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="POST">
        <label for="name">Product Name</label>
        <input id="name" type="text" name="name" placeholder="Product Name" value="<%= product.name %>">
        <label for="price">Product Price</label>
        <input id="price" type="number" name="price" placeholder="Product Price" value="<%= product.price %>">
        <label for="category">Select Category</label>
        <select id="category" name="category">
            <% for(let category of categories) { %>
                <option value="<%=category%>" <%=product.category===category ? 'selected' : '' %> ><%=category%></option>
            <% } %>
        </select>
        <button>Submit</button>
    </form>
    <a href="/products/<%= product.id%>">Cancel</a>

</body>

</html>